$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
  font-size: 0;
}

.group {
  position: relative;
  left: 40px;
  margin: 40px 0;

  &.user-profile {
    left: 0px;
  }

  .form-input {
    box-shadow: inset 0 1px 4px #E5E5E5;
    background: none;
    background-color: #f3f7f7;
    color: $main-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 15px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
